
# IDE / Local Settings
.idea/
.vscode/
*.iml
local.properties

# Python Environment & Build
.venv/
__pycache__/
*.pyc
build/
dist/
otitenet.egg-info/
.neptune/
mlruns/

# Android Specific
.gradle/
app/build/
capture/
*.apk
*.aar

# Generated Data & Databases
*.db
data/mobile_deployments/
logs/

# Test Images & Temp Files (from your list)
*.png
*.jpg
*.jpeg
*.hprof
error_log.txt


Norm_E1_2023-11-14T17-46-22.png
adv1.png
data/
data1.png
e103.jpg
# init_db.py
# model.pth
nimage.png
output_image.png
pca.png
pca_batches.png
results.db
results2.db
results3.db
saved_image.png
test.pca.png
test.png
test00.png
test1.png
test2.png
test3.png
test4.png
test_adv.png
testemb.png
testemb1.png
your_file.jpeg
*__pycache__/*
*/__pycache__/*
__pycache__/*
otitenet/ml/__pycache__/*
otitenet/train/__pycache__/*
otitenet/infer/__pycache__/*
otitenet/logging/__pycache__/*
otitenet/app/__pycache__/*
otitenet/api/__pycache__/*
otitenet/utils/__pycache__/*
otitenet/__pycache__/*
otitenet/train/old/*
otitenet/models/*
